[submodule "ansible/roles/ansible-directories"]
	path = ansible/roles/ansible-directories
	url = git@github.com:NLM-OCCS/ansible-role-directories.git
[submodule "ansible/roles/ansible-cloud-init"]
	path = ansible/roles/ansible-cloud-init
	url = git@github.com:NLM-OCCS/ansible-role-cloud-init
[submodule "ansible/roles/ansible-800-53"]
	path = ansible/roles/ansible-800-53
	url = git@github.com:NLM-OCCS/ansible-role-800-53.git
[submodule "ansible/roles/ansible-aws"]
	path = ansible/roles/ansible-aws
	url = git@github.com:NLM-OCCS/ansible-role-aws.git
[submodule "ansible/roles/ansible-awslogs"]
	path = ansible/roles/ansible-awslogs
	url = git@github.com:NLM-OCCS/ansible-role-awslogs.git
[submodule "ansible/roles/splunk-forwarder"]
	path = ansible/roles/splunk-forwarder
	url = git@github.com:NLM-OCCS/ansible-role-splunk-forwarder.git
