[Unit]
Description=Finish Boostrapping Nessus Agent
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/root/firstboot

[Install]
WantedBy=multi-user.target
